<h1>Character</h1>
<div class="container">
<div class="item">
<h2><%= @character.name %></h2>
<p><%= link_to 'Edit', edit_character_path(@character) %></p>
<img src="<%= @character.img_url %>">
<p><%= @character.age %> </p>
<%= @character.house.name %>
</div>
</div>
